* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
}
.text {
  color: black;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}
.inp {
  width: 60%;
  height: 36px;
  outline: none;
  border: none;
  font-size: 26px;
}
.inp:hover {
  background-color: aliceblue;
}
